@import "./partials/about.scss";
@import "./partials/contact.scss";
@import "./partials/footer.scss";
@import "./partials/home.scss";
@import "./partials/partners.scss";
@import "./partials/products.scss";
@import "./partials/menu.scss";
@import "./partials/paralax.scss";
@import "./partials/setion4.scss";
@import "./partials/info.scss";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: flex;
  align-items: center;
  clear: both;
}
.border_img {
     height: 50px;
     width: 100%;
     background-image: url("../Images/tittle_border.png");
     background-size: auto;
     background-position: center;
     background-repeat: no-repeat;
     border: none;
}
