#aboutus {
     background-color: lightgrey;
     width: 100%;
     height: 200px;
}
.aboutus_box {
     width:70%;
     margin: 0 auto;
     h1{
          text-align: center;
     }
}
.text_style {
     font-size: 14px;
}
