#para{
          height: 500px;
          width: 100%;
          background-image: url("../images/owoc-granatu-bg.jpg");
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
     }
