#home{
     height: 1000px;
     width: 100%;
     background-image: url("../Images/Owoc_Granatu.png");
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.home_box{
     width: 60%;
     height: 1000px;
     position: center;
     margin: 0 auto;
     display: flex;
     align-items: flex-start;
}
